@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: white;
  outline: none;
}

body {
  background-color: rgb(54, 54, 54);
  max-width: 700px;
  margin: 0 auto;
}